body {
    margin: auto;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.sectionone {
    background-color: #1f2937;
}

.sectionone > .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f9faf8
}

.header > .title {
    font-size: 24px;
    font-weight: bold;
}

.hero-section > .hero-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    padding: 100px;
    margin-left: 35px;
}

.hero-text > p {
    font-size: 18px;
    font-weight: lighter;
    width: 400px;
}

.links > ul {
    list-style: none;
    display: inline-flex;
    gap: 10px
}

a {
    text-decoration: none;
    color: #e5e7eb
}

.sectiontwo {
    background-color: #f9faf8;
    margin: auto;
    padding: 250px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.links-random {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-random {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px
}

.square {
    height: 150px;
    width: 150px;
    background-color: #555;
    border-radius: 10px;
}

.title-random {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    margin-bottom: 50px;
    color: #1f2937
}

.sectionthree {
    background-color: #e5e7eb
}

.sectionthree > .header {
    padding: 200px
}

.header > .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937
}

.odin {
    font-size: 26px;
    font-weight: bold;
    text-align: end;
}

.sectionfour {
    background-color: #f9faf8;
    margin: auto;
    padding: 250px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    border-radius: 20px;
    padding: 40px;
    width: 800px;
}

.action {
    color: white;
    font-size: 28px;
    font-weight: bold;
    display: flex;
}

.title-button > p {
    display: flex;
    color: white;
    font-size: 20px;
}

.hero-text > button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 10px;
    width: 120px;
}